/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  background-color: slategrey;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

#trialLabel {
  height: 40%;
  width: 40%;
  margin: 0 0 0 30%;
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

.hidden {
  display: none;
}

#button1 {
  background: lightgreen;
}

#button1,
img {
  height: 200px;
  border-radius: 10px;
  margin: -10px;
}

#button1:active,
#button1.lit {
  background: green;
  border: 10px solid black;
}

#button2 {
  background: lightblue;
}

#button2,
img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: -10px;
}

#button2:active,
#button2.lit {
  background: blue;
  border: 10px solid black;
}

#button3 {
  background: pink;
}

#button3,
img {
  height: 200px;
  border-radius: 10px;
  margin: -10px;
}

#button3:active,
#button3.lit {
  background: red;
  border: 10px solid black;
}

#button4 {
  background: lightyellow;
}

#button4,
img {
  height: 200px;
  border-radius: 10px;
  margin: -10px;
}

#button4:active,
#button4.lit {
  background: yellow;
  border: 10px solid black;
}
#button5 {
  background: #c4a484;
}

#button5,
img {
  height: 200px;
  border-radius: 10px;
  margin: -10px;
}

#button5:active,
#button5.lit {
  background: #d2691e;
  border: 10px solid black;
}
#button6 {
  background: #cbc3e3;
}

#button6:active,
#button6.lit {
  background: #9932cc;
  border: 10px solid black;
}